      body {
        background-color: #00573C;
        margin: 0;
      height: 100%;
        font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      .container {
            margin: 3vw;
            width: auto;
            height: auto;
            padding: 5vw;
            border: 2vw solid white;
            }

      .main {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
      }

      .days {
            color: black;
            background-color: white;
            font-size: calc(min(10vh, 14vw));
            line-height: calc(min(10vh, 14vw));
            font-weight: 700;
            padding: 2vw;
            padding: 2vw;
            margin-bottom: 2vw;
            text-transform: uppercase;
            }

      .longtext {
            color: white;
            font-size: 8vh;
            line-height: 9vh;
            font-weight: 600;
            text-transform: uppercase;
            }

      a { color: #4183c4; text-decoration: none; }
      a:hover { text-decoration: underline; }

      h1 { width: 800px; position:relative; left: -100px; letter-spacing: -1px; line-height: 60px; font-size: 60px; font-weight: 100; margin: 0px 0 50px 0; text-shadow: 0 1px 0 #fff; }
      p { color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6; }

      ul { list-style: none; margin: 25px 0; padding: 0; }
      li { display: table-cell; font-weight: bold; width: 1%; }

      .logo { display: inline-block; margin-top: 35px; }
      .logo-img-2x { display: none; }
      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        .logo-img-1x { display: none; }
        .logo-img-2x { display: inline-block; }
      }
